
#fish-wheel {
    width: calc(var(--fish-wheel-diameter));
    height: calc(var(--fish-wheel-diameter));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.fish {
    position: absolute;
    width: var(--fish-wheel-diameter);
    height: var(--fish-img-size);
    transition: transform 0.2s linear;
}

.fish img {
    width: var(--fish-img-size);
    background-size: contain;
    transform: rotateZ(90deg);
}

.fish-plat {
    background-color: var(--fish-plat-color);
    border-radius: 100%;
    transform: rotateX(72deg);
    width: var(--fish-plat-size);
    height: var(--fish-plat-size);
}

.on-plat-fish {
    width: 75px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transform: translate(0);
}

.on-plat-fish .fish {
    width: inherit;
    background-size: contain;
    z-index: 3;
    bottom: 30px;
}
