
#main-container {    
    background-color: #c3fdff;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#money-indicator {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#fish-line {
    position: fixed;
    bottom: 0;
    overflow: hidden;
    max-width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    left: 50%;
    transform: translateX(-50%);
}