
#fish-shop {
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}

#fish-shop[state="close"] #panel-container {
    display: none;
}

#panel-container {
    width: var(--shop-width);
    height: 100%;
    background-color: var(--white);
}

.panel {
    width: 100%;
    height: 100%;
    background-color: var(--panel-color);
    box-shadow: var(--panel-shadow);
}

.panel[state="close"] {
    display: none;
}

#zipet-container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.zipet {
    border-radius: 20px 0 0 20px;
    box-shadow: var(--zipet-shadow);
    width: var(--zipet-size);
    height: var(--zipet-size);
    margin-top: var(--zipet-margin-top);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    font-size: 17px;
    box-sizing: border-box;
    padding-left: 12px;
}

.zipet[state="selected"] {
    border-radius: 20px 8px 8px 20px;
    position: relative;
    z-index: 2;
    width: calc(var(--zipet-size) + var(--zipet-edging));
    right: calc(-1 * var(--zipet-edging));
}